.home {
    display: flex;
    justify-content: center;
}
.wapper {
    width: 1280px;
    margin-top: 50px;
    height: 1000px;
    border: 1px solid #ccc;
}

.slider {
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    // box-shadow: 0 1px 6px #fff;
}
.list {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    // padding: 7px;
}

.item img {
    width:  1275px;
    height: 100%;
    max-width: 100vw;
    object-fit: cover;
    padding-right: 10px;
}
.btn {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.btn button {
    width: 50px;
    height: 50px;
    background-color: #fff5;
    color: #fff;
    font-family: monospace;
    border: none;
    border-radius: 50px;
    font-weight: bold;
}
.dots {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
}
.dots li.active {
    width: 30px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    text-align: center;
    background-color: #fff5;
    backdrop-filter: blur(.5px);
}
.restaurant-name {
    font-size: 50px;
    font-weight: 500;
    font-family: monospace;    
    color: #4f6604;
}
.restaurant-address {
    font-size: 20px;
    font-family: monospace;
    color: #4f6604;    
}
.btn-order {
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.order {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    background-color: #e8daa4;
    height: 50px;
    font-family: monospace;
    color: #fff;
}

.discount {
    position: absolute;
    top: 0;
    left: -200px;
    background-color: #153359;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
    animation: scale 1s linear infinite alternate;
}
@keyframes scale {
    from{
        transform: scale(.9);
    }
    to{
        transform: scale(1.2)
    }
}
.discount p {
    color: #fff;
    font-size: 30px;
    font-family: monospace;
    font-weight: 600;
}

//fillter
.container-filter {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}
.filter {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-select {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-filter {
    width: 200px;
    height: 30px;
}
.btn-filter {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color:black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS';
}
